/*.letterSpace{
    letter-spacing:2px;
}

#telNav, a{
    margin-top: 14px;
}

#telNav{
    background-color: blue;
    border-radius: 15px;
    margin-right: 5px;
}

*/

/*--------------------------------*/


body, html {
    height: 100%;
    line-height: 1.8;
}

a{
    text-decoration: none;
}

nav span, a{
    margin-top: 18px;
}

nav span{
    margin-right: 10px;
    background-color: aqua;
    border-radius: 25px;
}

nav img{
    margin-right: -20px;
    margin-left: -10px;
}

header{
    margin-top: 80px;
}

#accueil-button{
    background-color: #4395a8;
}

.w3-card img {
        height:80px; 
    }

@media only screen and (max-width: 360px) {
    .w3-card img {
        height:55px; 
    }
    
    #nom{
        letter-spacing: 0px;
        margin: 10px -5px;
        font-size: 0.8rem;
    }
    #bars{
        margin: 3px;
        padding-top: 11px;
    }
    header{
        margin-top: 58px;
    }

}

#modal_mentions_legales header, #modal_mentions_legales footer{
    background-color: #4395a8;
    color: white;
}

#modal_mentions_legales footer{
    height: 43px;
}

footer{
    background-color: rgb(10,190,153);
    color: white;
}

#mySidebar{
    display:none;
    background-color: #4395a8;
    color: white;
}

#chienCurieux{
    display: flex;
    margin: auto;
    height: 100px;;
}